[Unit]
Description=Mount {{ source }}
[Mount]
What={{ source }}
Where={{ dest }}
Type=xfs
Options=defaults,noatime,uquota,gquota,pquota
[Install]
WantedBy=multi-user.target
