---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  annotations:
    volume.beta.kubernetes.io/storage-class: "slow"
  labels:
    use: "hackmd-postgres"
  name: "hackmd-postgres"
  namespace: "hackmd"
spec:
  storageClassName: "slow"
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: "10Gi"
